.loading-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty {
  padding-top: 20%;
}

.loading-gif {
  height: 100px;
  width: auto;
}
